:root {
    --color-primary: #7FA1C3;
    --color-danger: #C80036;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #5c5c5e;
    --color-grey-light: #dcdcdc;
}

.logo img {
    max-width: 200px;
}

/* rounded */
.rounded-sm {
    border-radius: 4px;
}

.rounded-md {
    border-radius: 8px;
}

/* button  */
.btn-primary {
    background-color: var(--color-primary);
    border: none;
}

.btn-primary:hover {
    background-color: var(--color-primary);
    opacity: 0.9;
}

.btn-danger {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.btn-cancle {
    margin: 8px 0px;
    border: 1px solid var(--color-grey);
}

.shadow-md {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/* layout */
.page-wrapper {
    min-height: 100vh;
}


/* Dành cho page admin, admin_orders  */
.sidebar {
    background-color: var(--color-grey-light);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 10px 20px;
}

.menu li a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
    display: block;
    padding: 8px 16px;
}

.menu li a:hover {
    color: var(--color-primary);
    background-color: var(--color-grey);
    border-radius: 4px;
}
